/* src/components/Experience.css */

.experience-section {
    width: 90%; /* Adjust width according to your layout */
    margin: 0 auto;
    padding: 2rem;
  }
  
  .experience-container {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Blur effect to create the frosted glass look */
    -webkit-backdrop-filter: blur(10px); /* Safari support for the blur effect */
    color: #fbfdfb;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .experience-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .experience-details {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .experience-date-container {
    display: flex;
    
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .experience-date {
    font-style: italic;
    margin-bottom: 1rem;
    vertical-align: middle;
    display: inline-block;
  }
  .certificate-link {
    display: inline-block;
    /*margin-top: 1rem;*/
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #fbfdfb; /* Text color */
    text-decoration: none;
    
    vertical-align: middle;
    
    font-weight: bold;
    margin-left: 0.3rem; /* Fine-tune spacing */
    padding: 0.2rem; /* Remove unnecessary padding */
    background: none; /* Ensure no background color */
    border: none; /* Ensure no border */
  }
  .certificate-link i {
    display: inline-block;
    
    transition: color 0.3s ease; /* Smooth color transition for the icon */
  }
  
  .certificate-link i:hover {
    color: #A48374; /* Change the icon color on hover */
  }
  .experience-skills {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #fbfdfb;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skill-pill {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fbfdfb;
    padding: 0.3rem 0.75rem;
    border-radius: 20px;
    font-size: 0.85rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    transition: background-color 0.3s ease;
  }
  
  .skill-pill:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }
  
 